/.settings/
.project

/commons/target
/commons/.project
/commons/.settings/
/commons/.classpath

/server/target/
/server/.project
/server/.settings/
/server/.classpath

/connector/target/
/connector/.project
/connector/.settings/
/connector/.classpath
/connector/src/test/
